<div class="input-group">
  <input type="hidden" class="form-control" placeholder="<%= cl_video_path video.video.key %>" readonly>
  <div class="input-group-append">
    <button class="btn btn-primary" type="button"><i class="fa-solid fa-copy"></i></button>
  </div>
</div>

