<div class="input-group d-flex justify-content-center"
    data-controller="share"
    data-share-feedback-text-value="Copied!">
  <input type="hidden" class="form-control"
        data-share-target="url"
        value="<%= cl_video_path video.video.key %>"
        readonly>
  <div class="input-group-append">
    <button class="btn btn-primary"
            data-share-target="button"
            data-action="click->share#copy">Share video&nbsp;&nbsp;<i class="fa-solid fa-copy"></i></button>
  </div>
</div>
