<h1>Videos</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <% if @videos %>
        <% @videos.each do |video| %>
          <div class="card" style="width: 18rem;">
            <video src="https://res.cloudinary.com/dbmagpuir/video/upload/v1707231578/signary/hello_xhqj78.mp4"></video>
            <div class="card-body">
              <h6 class="card-title"><%= video.name  %></h6>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
