<%= render "shared/navbar" %>

  <div class="container" style="padding-top: 90px;">
  <% if @videos %>

    <div class="m-1">
      <h4><strong>"<%= @keyword.downcase %>"</strong></h4>
      <p><i><%= @videos.count %> <% if @videos.count > 1 %>videos<% else %>video<% end %> found</i></p>
    </div>

    <%= render "videos/modal" %>

  <% else %>

    <div class="m-1">
      <p><i>No results</i></p>
      <a href="/videos?search=basics"><button type="button" class="btn btn-primary text-white btn-sm py-0">basics</button></a>
      <a href="/videos?search=hello"><button type="button" class="btn btn-primary text-white btn-sm py-0">hello</button></a>
      <a href="/videos?search=how are you"><button type="button" class="btn btn-primary text-white btn-sm py-0">how are you</button></a>
    </div>

  <% end %>
  </div>
