<nav class="d-flex justify-content-end align-items-center p-3" style="padding-top: 24px;">
  <ul class="menu">
    <li><a class="menuItem" href="#">Home</a></li>
    <li><a class="menuItem" href="#">Profile</a></li>
    <li><a class="menuItem" href="#">About</a></li>
    <li><a class="menuItem" href="#">Contacts</a></li>
  </ul>
  <div class="hamburger">
    <i class="menuIcon fa-solid fa-bars fa-lg"></i>
    <i class="closeIcon fa-solid fa-xmark fa-lg"></i>
  </div>
</nav>
