<ul class="menu">
  <li><a class="menuItem" href="#">Home</a></li>
  <li><a class="menuItem" href="#">Profile</a></li>
  <li><a class="menuItem" href="#">About</a></li>
  <li><a class="menuItem" href="#">Contacts</a></li>
</ul>
<button class="hamburger">
  <!-- material icons https://material.io/resources/icons/ -->
  <i class="fa-solid fa-bars fa-lg">menu</i>
  <i class="fa-solid fa-xmark">close</i>
</button>
